*.a
*.app
*.autosave
*.avi
*.class
*.csv
*.d
*.desktop
*.dll
*.dylib
*.exe
*.exp
*.flv
*.gch
*.idea
*.jar
*.la
*.lai
*.lib
*.lnk
*.lo
*.log
*.manifest
*.mod
*.mov
*.mp4
*.o
*.obj
*.out
*.pch
*.pro.user
*.pro.user.*
*.py[cod]
*.pyc
*.pytest_cache
*.slo
*.smod
*.so
*.tiff
*.tlog
*.txt
*.url
*.user
*.user.*
*.war
*.wmv
.DS_Store
.idea
.vs
/localconfig.pri
Debug
GeneratedFiles
Makefile*
Release
TEST*.xml
Thumbs.db
Win32
_*
bin
build*
cmake-build-*
dist/
html/*
include
lib
moc_*.cpp
node_modules/
out/
qrc_*.cpp
target/
ui_*.h
x64
x86
